header {
  font-weight: bolder;
  background-color: white;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #074EE8;
  text-decoration-thickness: 3px;
}