header {
  font-weight: bolder;
  background-color: white;
}

header .dropdown-item {
  font-weight: bolder;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #296BF9;
  text-decoration-thickness: 3px;
}

.dropdown-toggle::after {
  display: none;
}

/* (768px and below) */
@media (max-width: 768px) {
  .navbar-brand {
    width: 50%;
  }
  .logo {
    width: 100%;
  }
  .nav-link {
    font-size: 0.8rem;
  }
}