#Research .card, #Tools .card, #Tool .card {
  text-align: left;
  color: white;
  background-color: #074EE8;
}

#Research a, #Tools a {
  color: white;
}


#Research .card-title, #Tools .card-title, #Tool .card-title {
  font-weight: bold;
}

#Research .badge, #Tools .badge, #Tool .badge {
  background-color: white;
  color: #074EE8;
  margin-right: 5px;
}

#Research small, #Tools small {
  float: right;
}

#Research form, #Tools form {
  margin: auto;
  width: 50vw;
}

#Research svg, #Tools svg {
  margin-right: 3px;
}

/* css moduels bruh moment */