#Research .card {
  margin: 20px 10vw;
}

#Research a {
  padding-right: 10px;
}

#Research .insight-button {
  border: none;
  color: white;
  font-size: 100%;
  padding: 0;
}

#Research p {
  margin-bottom: 0;
}