.team, .sponsor {
  padding: 1rem;
}

.team .carddeck {
  margin: auto;
  width: 50%;
}

.team .card {
  background-color: transparent;
  border: none;
}

.team .card-body, .team .card-title {
  font-weight: bold;
}

.sponsor p {
  font-size: larger;
  text-align: left;
  margin: 0 1rem;
}