.Home h1, .Home h3{
  font-weight: bolder;
  padding-bottom: 12px;
}

/* #idkwhattonamethis */
#idkwhattonamethis {
  background-color: #EEEEEE;
}

#idkwhattonamethis h1 {
  padding-top: 20px;
}

#idkwhattonamethis .btn {
  font-weight: bolder;
  color: #074EE8
}

.images {
 display: flex;
}

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.hover-group {
  position: relative;
  width: 50%;
}

.hover-group img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-group:hover img {
  opacity: 0.3;
}

.hover-group:hover .overlay {
  opacity: 1;
}

/* #overview */
#overview {
  padding: 20px;
  background-color: #074EE8;
  color: white;
}

#overview p {
  text-align: justify;
}

/* #trust */
#trust {
  padding: 20px;
}

#trust p {
  text-align: justify;
}

/* #use */

#use {
  font-weight: bolder;
  background-color: #F1CE1E;
  overflow: auto;
}

.column {
  padding: 20px 5vw;
  float: left;
  width: 50%;
  margin: auto;
  border-left: solid 1px #EEEEEE;
}

.icon {
  margin-bottom: 20px;
}

.circle-icon {
  color: #074EE8;
  width: 100px;
  height: 100px;
}

.inner-icon {
  color: white;
  width: 50px;
  height: 50px;
}