/* .jumbotron */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron h1 {
      font-size: 4em;
  }
  .jumbotron p {
      font-size: 2em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron h1 {
      font-size: 6em;
  }
  .jumbotron p {
    font-size: 2.5em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron h1 {
      font-size: 7em;
  }
  .jumbotron p {
    font-size: 3.5em;
  }
}

/* #overview */
#overview {
  padding: 1.5rem;
  background-color: #074EE8;
  color: white;
}

#overview p {
  text-align: justify;
}

/* #trust */
#trust {
  padding: 1.5rem;
  background-color: white;
  overflow: hidden;
}

#trust img {
  width: 75vw;
  margin: auto;
  display: block;
  height: 90vh;
}

#trust button {
  color: #074EE8;
  float: right;
  font-weight: bold;
}

.chevron-icon {
  color: black;
  margin-right: 5px;
}

/* #use */

#use {
  background-color: #F1CE1E;
  font-weight: bolder;
  overflow: auto;
}

.column {
  padding: 20px 5vw;
  float: left;
  width: 50%;
  margin: auto;
  border-left: solid 1px #eee;
}

.icon {
  margin-bottom: 20px;
}

.circle-icon {
  color: #074EE8;
  width: 100px;
  height: 100px;
}

.inner-icon {
  color: white;
  width: 50px;
  height: 50px;
}