#Home {
  background-color: white;
}

/* .jumbotron */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron h1 {
      font-size: 4em;
  }
  .jumbotron p {
      font-size: 2em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron h1 {
      font-size: 6em;
  }
  .jumbotron p {
    font-size: 2.5em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron h1 {
      font-size: 7em;
  }
  .jumbotron p {
    font-size: 3.5em;
  }
}

/* #overview */
#overview {
  margin: auto;
  padding: 1.5rem 0;
  text-align: center;
  width: 75vw;
}

/* #trust */
#trust {
  margin: auto;
  overflow: hidden;
  padding: 1.5rem 0;
  width: 75vw;
}

.example-heading {
  text-align: left;
}

#trust p {
  text-align: left;
}

#trust img {
  max-width: 100%
}

#trust a {
  color: #074EE8;
  float: right;
  font-weight: bold;
}

.chevron-icon {
  color: black;
  margin-right: 5px;
}

/* #use */

#use {
  font-weight: bolder;
  overflow: auto;
}

#use p {
  width: 75%;
  margin: auto;
}

.column {
  padding: 20px 5vw;
  float: left;
  width: 50%;
  margin: auto;
}

.icon {
  margin-bottom: 20px;
}

.circle-icon {
  color: #074EE8;
  width: 100px;
  height: 100px;
}

.inner-icon {
  color: white;
  width: 50px;
  height: 50px;
}