#Definition {
  background-color: white;
}

#Definition h4 {
  font-weight: bolder;
}

#definition-div {
  height: 100%;
  margin: auto;
  padding: 1.5rem 0;
  width: 75vw;
}

#definition-div ul {
  text-align: left;
}

#definition-div li {
  padding: 0.5rem 0;
}

#definition-div img {
  height: 96vh;
}

/* (768px and below) */
@media (max-width: 768px) {
  .trust-visual {
    width: 100%;
  }
}